@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.black-bg {
  min-height: 100vh;
  background-color: black;
}

.three-blocks-wrapper {
  display: flex;
  align-items: stretch;
  padding: 30px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
}

.block {
  flex: 1 0 0px;
  flex-grow: 1;
  background-color: black;
  margin: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.block-title {
  text-transform: uppercase;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  line-height: 16px;
  height: 100px;
}

.service {
  background-color: #f2c94c;
}

.reparatie {
  background-color: #9b51e0;
}

.verkoop {
  background-color: #2f80ed;
}

.block-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inner-block {
  flex: 1 1 0px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reparatie .inner-block {
  background-color: white;
}

.inner-block img {
  width: 100%;
  padding: 0 40px;
  /* margin: 0 20px; */
}

.inner-block-title {
  text-transform: uppercase;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d84488;
  font-size: 25px;
  line-height: 16px;
  width: 100%;
}

.abonnement img,
.oude-device-verkopen img {
  padding: 0;
}

.bestselling-ophalen img {
  padding: 0 15px;
}

.oude-device-verkopen img,
.bestselling-ophalen img {
  width: 60%;
}

.support .inner-block-title,
.abonnement .inner-block-title {
  padding: 50px 50px;
  padding-bottom: 30px;
}

.bestselling-ophalen .inner-block-title,
.oude-device-verkopen .inner-block-title {
  margin-top: 30px;
  padding: 0px;
}

.aanmelden img {
  width: 331px;
  align-self: flex-end;
  padding-right: 0;
}

.ophalen img,
.retour img {
  padding: 0;
}

.retour img {
  width: 331px;
  align-self: flex-end;
}

.reparatie .inner-block-title {
  padding: 50px 50px;
  padding-bottom: 30px;
}

.verkoop .inner-block-title {
  margin: 30px 0px;
}

.smartphone {
  background-color: #fafafa;
}

.smartphone img {
  width: 100%;
  padding: 0;
}

.tablet img {
  padding-left: 0;
}

.laptop {
  background-color: #f2f2f2;
}
.laptop .inner-block-title {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.accessoires {
  background-color: #fafafa;
}

.tablet {
  background-color: white;
}


@media screen and (max-width: 1400px) {
    .inner-block img {
        padding: 0px !important;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .three-blocks-wrapper {display: block;}
}

@media screen and (max-width: 700px) {
    .three-blocks-wrapper {
        padding: 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .inner-block-title {
        margin-top: 15px !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 340px) {
    .inner-block-title {
        margin-top: 10px !important;
        padding: 5px !important;
        font-size: 15px !important;
    }
}